---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

function randomInteger(min: number, max: number) {
	min = Math.ceil(min);
	max = Math.floor(max);
	return Math.floor(Math.random() * (max - min + 1)) + min;
}

const subtitles = [
	"GreasyPanda123 was the first to join.",
	"Only 3 people play here.",
	"I will bring you down baby. I will bring you down to China town.",
	"tenulty made this site! This is me tenulty!",
	"I can beat Halo 3 Legendary under one year.",
	`Your actual IP address is <span style="color: black !important; background: black; text-shadow: none;">${Astro.clientAddress}</span>`,
	"Our favorite movie is a moving picture.",
	"missingno",
	"Agartha is not a real place.",
	"Give your parrots some chocolate.",
	"PC Gamer Demo!",
	"Cool maybe?",
	'<span style="color: #fe00ff; text-shadow: 2.5px 2.5px 0px #3b0135;">APRIL FOOLS</span> from Revolver!',
	"Don't burn it!",
	"😹😹😹",
	"Don't shoot yourself, cause Ryouzu wants to shoot you first.",
	"Ryouzu cannot ruin this surprise.",
	"You did not desert me, my brothers in arms.",
	"A Telltale Games lawsuit? No. It can't be.",
	'"Jorge is my favorite Reach character", said everyone. smh',
	'Quick! Before it expires!<br><a href="discord.gg/8KmaCmam"><u>discord.gg/8KmaCmam</u></a>',
	'Quick! Before it expires!<br><a href="discord.gg/XNEHhBQCT"><u>discord.gg/XNEHhBQCT</u></a>',
	"GreasyPanda123 should change his profile picture.",
	"Who's this new guy KingGhany?",
	"Minecraft Realms is a real button. Let that sink in.",
	"Click that Multiplayer button faster than my dad beats me.",
	"It's statistically impossible for two players to have the same mods installed.",
	"It's statistically impossible to use Aternos happily.",
	"There's a lady who's sure all that glitters is-",
];
const chosenSubtitleHTML = subtitles[randomInteger(0, subtitles.length - 1)];

export const prerender = false;
---

<Layout>
	<main class="mx-auto h-screen bg-transparent px-9 py-9">
		<div class="p-4"></div>

		<h1 class="hidden">Welcome to the Revolver Minecraft Server!</h1>

		<div class="relative">
			<Image
				class="m-auto select-none"
				src="/media/minecraft-revolver-mode.webp"
				alt="Logo of Minecraft: Revolver Mode"
				height={700}
				width={700}
				draggable={false}
				loading="eager"
			/>

			<div
				class="animate-subtitle-pulse absolute top-full left-[50%] w-125 rotate-350 text-center text-3xl text-[#ffff00] text-shadow-[2.5px_2.5px_0px_#3f3f00]"
			>
				<span set:html={chosenSubtitleHTML} />
			</div>
		</div>

		<div class="p-14"></div>

		<div class="mx-auto h-fit w-fit">
			<a
				id="multiplayer"
				href="/multiplayer"
				aria-label="Multiplayer"
				class="group outline-none select-none"
			>
				<span class="hidden">Multiplayer</span>

				<Image
					class="m-auto block group-hover:hidden group-focus:hidden"
					src="/media/multiplayer.webp"
					alt="Minecraft Multiplayer button"
					height={60}
					width={600}
					draggable={false}
					loading="eager"
					style="image-rendering: pixelated;"
				/>

				<Image
					class="m-auto hidden group-hover:block group-focus:block"
					src="/media/multiplayer-hovered.webp"
					alt="Hovered over Minecraft Multiplayer button"
					height={60}
					width={600}
					draggable={false}
					loading="eager"
					style="image-rendering: pixelated;"
				/>
			</a>

			<div class="p-2"></div>

			<div class="flex gap-3.25">
				<a
					id="mods"
					href="/mods"
					aria-label="Mods"
					class="group outline-none select-none"
				>
					<span class="hidden">Mods</span>

					<Image
						class="m-auto block group-hover:hidden group-focus:hidden"
						src="/media/mods.webp"
						alt="Minecraft Mods button"
						height={60}
						width={294}
						draggable={false}
						loading="eager"
						style="image-rendering: pixelated;"
					/>

					<Image
						class="m-auto hidden group-hover:block group-focus:block"
						src="/media/mods-hovered.webp"
						alt="Hovered over Minecraft Mods button"
						height={60}
						width={294}
						draggable={false}
						loading="eager"
						style="image-rendering: pixelated;"
					/>
				</a>

				<a
					id="realms"
					href="/realms"
					aria-label="Realms"
					class="group outline-none select-none"
				>
					<span class="hidden">Minecraft Realms</span>

					<Image
						class="m-auto block group-hover:hidden group-focus:hidden"
						src="/media/realms.webp"
						alt="Minecraft Realms button"
						height={60}
						width={294}
						draggable={false}
						loading="eager"
						style="image-rendering: pixelated;"
					/>

					<Image
						class="m-auto hidden group-hover:block group-focus:block"
						src="/media/realms-hovered.webp"
						alt="Hovered over Minecraft Realms button"
						height={60}
						width={294}
						draggable={false}
						loading="eager"
						style="image-rendering: pixelated;"
					/>
				</a>
			</div>
		</div>
	</main>
</Layout>
