---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
	<main class="mx-auto h-screen bg-transparent px-9 py-9">
		<div class="p-4"></div>

		<h1 class="hidden">Welcome to the Revolver Minecraft Server!</h1>

		<div class="relative">
			<Image
				class="m-auto select-none"
				src="/media/minecraft-revolver-mode.webp"
				alt="Logo of Minecraft: Revolver Mode"
				height={700}
				width={700}
				draggable={false}
				loading="eager"
			/>

			<span
				class="animate-subtitle-pulse absolute top-full left-[50%] rotate-350 text-3xl text-[#ffff00] text-shadow-[3px_3px_0px_#3f3f00]"
			>
				I will bring you down to China town.
			</span>
		</div>

		<div class="p-14"></div>

		<div class="mx-auto h-fit w-fit">
			<a
				id="multiplayer"
				href="/multiplayer"
				aria-label="Multiplayer"
				class="group outline-none select-none"
			>
				<span class="hidden">Multiplayer</span>

				<Image
					class="m-auto block group-hover:hidden group-focus:hidden"
					src="/media/multiplayer.webp"
					alt="Minecraft Multiplayer button"
					height={60}
					width={600}
					draggable={false}
					loading="eager"
					style="image-rendering: pixelated;"
				/>

				<Image
					class="m-auto hidden group-hover:block group-focus:block"
					src="/media/multiplayer-hovered.webp"
					alt="Hovered over Minecraft Multiplayer button"
					height={60}
					width={600}
					draggable={false}
					loading="eager"
					style="image-rendering: pixelated;"
				/>
			</a>

			<div class="p-2"></div>

			<div class="flex gap-3.25">
				<a
					id="mods"
					href="/mods"
					aria-label="Mods"
					class="group outline-none select-none"
				>
					<span class="hidden">Mods</span>

					<Image
						class="m-auto block group-hover:hidden group-focus:hidden"
						src="/media/mods.webp"
						alt="Minecraft Mods button"
						height={60}
						width={294}
						draggable={false}
						loading="eager"
						style="image-rendering: pixelated;"
					/>

					<Image
						class="m-auto hidden group-hover:block group-focus:block"
						src="/media/mods-hovered.webp"
						alt="Hovered over Minecraft Mods button"
						height={60}
						width={294}
						draggable={false}
						loading="eager"
						style="image-rendering: pixelated;"
					/>
				</a>

				<a
					id="realms"
					href="/realms"
					aria-label="Realms"
					class="group outline-none select-none"
				>
					<span class="hidden">Minecraft Realms</span>

					<Image
						class="m-auto block group-hover:hidden group-focus:hidden"
						src="/media/realms.webp"
						alt="Minecraft Realms button"
						height={60}
						width={294}
						draggable={false}
						loading="eager"
						style="image-rendering: pixelated;"
					/>

					<Image
						class="m-auto hidden group-hover:block group-focus:block"
						src="/media/realms-hovered.webp"
						alt="Hovered over Minecraft Realms button"
						height={60}
						width={294}
						draggable={false}
						loading="eager"
						style="image-rendering: pixelated;"
					/>
				</a>
			</div>
		</div>
	</main>
</Layout>
