---
import { Image } from "astro:assets";

type MinecraftButtonImage = {
	id?: string;
	src: string;
	alt: string;
	width: number;
	height: number;
};

type Props = {
	id: string;
	href: string;
	label: string;
	image: MinecraftButtonImage;
};

const { id, href, label, image } = Astro.props;
---

<a
	id={id}
	href={href}
	aria-label={label}
	class="2xs:border-3 block h-fit w-fit border-2 border-solid border-black outline-none select-none hover:border-white focus:border-white sm:border-4"
>
	<span class="hidden">{label}</span>

	<Image
		id={image.id || ""}
		src={image.src}
		alt={image.alt}
		width={image.width}
		height={image.height}
		draggable={false}
		loading="eager"
		style="image-rendering: pixelated;"
	/>
</a>
